@import './form.scss';
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #747474;
    font-size: 100%;
    font-family: 'Lato', Helvetica, sans-serif;
}

/* Typography*/

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.8;
}

.text__bold {
    font-weight: bold;
}

.text__uppercase {
    text-transform: uppercase;
}

.text__underline {
    text-decoration: underline;
}

.text__small {
    font-size: 0.9em;
    padding: 8px;
    margin: 8px 0;
    line-height: 1.15;
    font-weight: 500;
}

.text__xlarge {
    font-size: 2rem;
    padding: 80px 0;
    margin: 0 auto;
    width: 65%;
    font-weight: 400;
    line-height: 1.2;
}

.App__header {
    background: #4385f5;
    text-align: center;

    img {
        display: block;
        width: 200px;
        margin: 0 auto;
        padding: 18px;
    }
}

.App__main {
    background: url(../img/splash.png) no-repeat;
    background-size: cover;
    display: block;
    height: 850px;
    width: 100%;
    clear: both;

    #form__information {
        width: 35%;
        background: #fff;
        position: relative;
        top: 150px;
        left: 0;
        float: left;

        h1 {
            padding: 56px;
            width: 700px;
            margin: 0 auto;
        }
    
        .chrome__logo-container {
            text-align: center;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;

            img {
                width: 50%;
                margin: 0 auto;
                display: block;
            }
        }
    }
}

.App__footer {

    .container {
        background: #EFEFF0;
        padding: 40px 0 60px 0;

        p.text__xlarge {
            padding: 40px 0;
            font-weight: 400;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 65%;
            margin: 0 auto;
            grid-gap: 2em;
            
            p.text__large {
                padding: 8px 0 40px 0;
                font-size: 1.5rem;
                width: 75%;
                text-align: center;
                font-weight: 400;
                margin: 0 auto;
                color: #fff;
                line-height: 1.15;
            }

            .col-3 {
                padding: 1.5em 0;
            }
            
            .col-3:first-child {
                background: #4385f5;
            }

            .col-3:nth-child(2) {
                background: #F8BE35;
            }

            .col-3:last-child {
                background: #0FA85A;
            }
        }
    }
}

// Desktop Viewports up until 1440px

@media only screen and (max-width: 1440px) {
    h1 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.375rem;
    }


    .text__xlarge {
        font-size: 1.8em;
    }

    .App__main {
        height: 820px;
    }

    .App__main #form__information h1 {
        padding: 36px;
        width: 100%;
        margin: 0 auto;
    }

    .App__main #form__information .chrome__logo-container img {
        width: 70%;
        margin: 0 auto;
        display: block;
    }


    .App__footer .container .grid p.text__large {
        padding: 0;
        font-size: 1.5rem;
        width: 85%;
        text-align: center;
        font-weight: 400;
        margin: 0 auto;
        color: #fff;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 1210px) {

    h1 {
        font-size: 1.9em;
    }

    .text__xlarge {
        font-size: 1.55em;
        line-height: 1.5;
    }


    .App__main #form__information h1 {
        padding: 24px 30px;
    }

    .App__footer .container .grid p.text__large {
        padding: 2px;
        font-size: 1.3rem;
        width: 85%;
    }
}

// Small Laptop viewport 1024px

@media only screen and (max-width: 1024px) {
    .text__xlarge {
        font-size: 1.45em;
        line-height: 1.5;
        padding: 60px 0;
    }


    .App__footer .container .grid .col-3 {
        padding: 0.5em 0;
    }

    .App__footer .container .grid p.text__large {
        padding: 10px;
        font-size: 1.25em;
        width: 100%;
    }
}

// Tablet viewport
@media only screen and (max-width: 900px) {

    h1 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.275rem;
    }



    .App__header img {
        width: 150px;
    }

    .App__main {
        height: 810px;

        #form__information {
            
            h1 {
                padding: 30px 40px;
            }
            
            .chrome__logo-container {
                margin-bottom: 40px;
                margin-top: 10px;
            }
        }
    }

    .App__footer {
        .text__xlarge {
            font-size: 1.25em;
            width: 85%;
        }

        .container .grid {
            width: 85%;
        }
    }
}