.mobileForm__section {
  display: none;
}

.App__form {
  position: relative;
  width: 380px;
  height: 880px;
  top: 30px;
  right: 110px;
  padding: 24px;
  float: right;
  background: #ffffffe0;
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
}

.App__form h3 {
  margin: 0 0 24px 0;
}

.App__form p.text__small {
  padding: 0 0 28px 0;
  line-height: 1.15;
}

.App__form label {
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 1.1em;
}

.App__form label input {
  border: 2px solid #747474;
}

.App__form label input[type="text"],
.App__form label input[type="email"] {
  width: 100%;
  margin: 8px 0;
  height: 35px;
  padding: 0 12px;
  font-size: 1em;
}

.App__form label p {
  font-size: 0.85em;
  width: 200px;
  margin: 0 auto;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.App__form label[for="communication"] input,
.App__form label[for="privacy"] input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.App__form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid #707070;
  cursor: pointer;
}

.App__form label[for="communication"] input:hover input ~ .checkmark,
.App__form label[for="privacy"] input:hover input ~ .checkmark {
  background-color: #ccc;
}

.App__form label[for="communication"] input:checked ~ .checkmark,
.App__form label[for="privacy"] input:checked ~ .checkmark {
  background-color: #4385f5;
}

.App__form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.App__form label[for="communication"] input:checked ~ .checkmark:after,
.App__form label[for="privacy"] input:checked ~ .checkmark:after {
  display: block;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.App__form .form__submit-container {
  text-align: center;
  width: 150px;
  display: block;
  margin: 24px auto;
}

.App__form .form__submit-container .form__submit {
  background: #4385f5;
  border: 0;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  padding: 0.45em 1em;
  letter-spacing: -1px;
  cursor: pointer;
}

.App__form .success {
  color: green;
}

.App__form .error {
  color: red;
}

.App__form #form-messages {
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .text__small {
    font-size: 0.85em;
    padding: 8px;
    margin: 8px 0;
  }
  .App__form {
    width: 30%;
    height: 100%;
  }
  .App__form .checkmark {
    height: 20px;
    width: 20px;
  }
  .App__form label[for="communication"] input:checked ~ .checkmark:after,
  .App__form label[for="privacy"] input:checked ~ .checkmark:after {
    display: block;
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@media only screen and (max-width: 1210px) {
  .App__form {
    right: 60px;
  }
  .App__form .text__small {
    font-size: 0.8em;
    padding: 8px;
    margin: 8px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .App__form {
    right: 30px;
  }
  .App__form h3 {
    margin: 0 0 22px 0;
  }
  .App__form label p {
    width: 160px;
  }
  .App__form .text__small {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .App__form {
    width: 40%;
  }
  .App__form label {
    font-size: 1em;
  }
  .App__form label[for="communication"] input:checked ~ .checkmark:after,
  .App__form label[for="privacy"] input:checked ~ .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 9px;
    border-width: 0 2px 2px 0;
  }
}

@media only screen and (max-width: 650px) {
  .App__form {
    display: none;
  }
  .mobileForm__section {
    display: block;
    padding: 4em 0;
  }
  .mobileForm__section form.mobile__form {
    width: 85%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 60px;
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
  }
  .mobileForm__section form.mobile__form h3 {
    margin: 0 0 24px 0;
  }
  .mobileForm__section form.mobile__form p.text__small {
    padding: 0 0 28px 0;
    line-height: 1.15;
  }
  .mobileForm__section form.mobile__form label {
    display: block;
    position: relative;
    font-weight: 600;
    font-size: 1.1em;
  }
  .mobileForm__section form.mobile__form label input {
    border: 2px solid #747474;
  }
  .mobileForm__section form.mobile__form label input[type="text"],
  .mobileForm__section form.mobile__form label input[type="email"] {
    width: 100%;
    margin: 8px 0;
    height: 35px;
    padding: 0 12px;
    font-size: 1em;
  }
  .mobileForm__section form.mobile__form label p {
    font-size: 0.85em;
    width: 200px;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: 0.25px;
  }
  .mobileForm__section form.mobile__form label[for="communication"] input,
  .mobileForm__section form.mobile__form label[for="privacy"] input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }
  .mobileForm__section form.mobile__form .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 2px solid #707070;
    cursor: pointer;
  }
  .mobileForm__section form.mobile__form label[for="communication"] input:hover input ~ .checkmark,
  .mobileForm__section form.mobile__form label[for="privacy"] input:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .mobileForm__section form.mobile__form label[for="communication"] input:checked ~ .checkmark,
  .mobileForm__section form.mobile__form label[for="privacy"] input:checked ~ .checkmark {
    background-color: #4385f5;
  }
  .mobileForm__section form.mobile__form .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .mobileForm__section form.mobile__form label[for="communication"] input:checked ~ .checkmark:after,
  .mobileForm__section form.mobile__form label[for="privacy"] input:checked ~ .checkmark:after {
    display: block;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .mobileForm__section form.mobile__form .form__submit-container {
    text-align: center;
    width: 150px;
    display: block;
    margin: 24px auto;
  }
  .mobileForm__section form.mobile__form .form__submit-container .form__submit {
    background: #4385f5;
    border: 0;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    padding: 0.45em 1em;
    letter-spacing: -1px;
    cursor: pointer;
  }
  .mobileForm__section form.mobile__form .success {
    color: green;
  }
  .mobileForm__section form.mobile__form .error {
    color: red;
  }
}

@media only screen and (max-width: 425px) {
  .mobileForm__section form.mobile__form {
    width: 85%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 40px;
  }
  .mobileForm__section form.mobile__form label {
    font-size: 1em;
  }
  .mobileForm__section form.mobile__form label p {
    font-size: 0.85em;
    width: 180px;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: 0.25px;
  }
}

@media only screen and (max-width: 320px) {
  .mobileForm__section form.mobile__form label p {
    font-size: 0.75em;
    width: 100px;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: 0.25px;
  }
  .mobileForm__section form.mobile__form p.text__small {
    padding: 0 0 28px 0;
    line-height: 1.15;
    font-size: 0.75em;
  }
  .mobileForm__section form.mobile__form .form__submit-container .form__submit {
    font-size: 1.2rem;
  }
}
