@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
.mobileForm__section {
  display: none;
}

.desktop__form {
  position: relative;
  width: 380px;
  height: 880px;
  top: 30px;
  right: 110px;
  padding: 24px;
  float: right;
  background: #ffffffe0;
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
}

.desktop__form h3 {
  margin: 0 0 24px 0;
}

.desktop__form p.text__small {
  padding: 0 0 28px 0;
  line-height: 1.15;
}

.desktop__form label {
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 1.1em;
}

.desktop__form label input {
  border: 2px solid #747474;
}

.desktop__form label input[type="text"],
.desktop__form label input[type="email"] {
  width: 100%;
  margin: 8px 0;
  height: 35px;
  padding: 0 12px;
  font-size: 1em;
}

.desktop__form label p {
  font-size: 0.85em;
  width: 200px;
  margin: 0 auto;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.desktop__form label[for="communication"] input,
.desktop__form label[for="privacy"] input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.desktop__form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid #707070;
  cursor: pointer;
}

.desktop__form label[for="communication"] input:hover input ~ .checkmark,
.desktop__form label[for="privacy"] input:hover input ~ .checkmark {
  background-color: #ccc;
}

.desktop__form label[for="communication"] input:checked ~ .checkmark,
.desktop__form label[for="privacy"] input:checked ~ .checkmark {
  background-color: #4385f5;
}

.desktop__form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.desktop__form label[for="communication"] input:checked ~ .checkmark:after,
.desktop__form label[for="privacy"] input:checked ~ .checkmark:after {
  display: block;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.desktop__form .form__submit-container {
  text-align: center;
  width: 150px;
  display: block;
  margin: 24px auto;
}

.desktop__form .form__submit-container .form__submit {
  background: #4385f5;
  border: 0;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  padding: 0.45em 1em;
  letter-spacing: -1px;
  cursor: pointer;
}

.desktop__form .success {
  color: green;
}

.desktop__form .error {
  color: red;
}

.desktop__form #form-messages {
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .text__small {
    font-size: 0.85em;
    padding: 8px;
    margin: 8px 0;
  }
  .desktop__form {
    width: 30%;
    height: 100%;
  }
  .desktop__form .checkmark {
    height: 20px;
    width: 20px;
  }
}

@media only screen and (max-width: 1210px) {
  .desktop__form {
    right: 60px;
  }
  .desktop__form .text__small {
    font-size: 0.8em;
    padding: 8px;
    margin: 8px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .desktop__form {
    right: 30px;
  }
  .desktop__form h3 {
    margin: 0 0 22px 0;
  }
  .desktop__form label p {
    width: 160px;
  }
  .desktop__form .text__small {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .desktop__form {
    width: 40%;
  }
  .desktop__form label {
    font-size: 1em;
  }
  .desktop__form label[for="communication"] input:checked ~ .checkmark:after,
  .desktop__form label[for="privacy"] input:checked ~ .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 9px;
    border-width: 0 2px 2px 0;
  }
}

@media only screen and (max-width: 650px) {
  .desktop__form {
    display: none;
  }
  .mobileForm__section {
    display: block;
    padding: 4em 0;
  }
  .mobileForm__section form.mobile__form {
    width: 85%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 60px;
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
  }
  .mobileForm__section form.mobile__form h3 {
    margin: 0 0 24px 0;
  }
  .mobileForm__section form.mobile__form p.text__small {
    padding: 0 0 28px 0;
    line-height: 1.15;
  }
  .mobileForm__section form.mobile__form label {
    display: block;
    position: relative;
    font-weight: 600;
    font-size: 1.1em;
  }
  .mobileForm__section form.mobile__form label input {
    border: 2px solid #747474;
  }
  .mobileForm__section form.mobile__form label input[type="text"],
  .mobileForm__section form.mobile__form label input[type="email"] {
    width: 100%;
    margin: 8px 0;
    height: 35px;
    padding: 0 12px;
    font-size: 1em;
  }
  .mobileForm__section form.mobile__form label p {
    font-size: 0.85em;
    width: 200px;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: 0.25px;
  }
  .mobileForm__section form.mobile__form label[for="communication"] input,
  .mobileForm__section form.mobile__form label[for="privacy"] input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }
  .mobileForm__section form.mobile__form .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 2px solid #707070;
    cursor: pointer;
  }
  .mobileForm__section form.mobile__form label[for="communication"] input:hover input ~ .checkmark,
  .mobileForm__section form.mobile__form label[for="privacy"] input:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .mobileForm__section form.mobile__form label[for="communication"] input:checked ~ .checkmark,
  .mobileForm__section form.mobile__form label[for="privacy"] input:checked ~ .checkmark {
    background-color: #4385f5;
  }
  .mobileForm__section form.mobile__form .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .mobileForm__section form.mobile__form label[for="communication"] input:checked ~ .checkmark:after,
  .mobileForm__section form.mobile__form label[for="privacy"] input:checked ~ .checkmark:after {
    display: block;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .mobileForm__section form.mobile__form .form__submit-container {
    text-align: center;
    width: 150px;
    display: block;
    margin: 24px auto;
  }
  .mobileForm__section form.mobile__form .form__submit-container .form__submit {
    background: #4385f5;
    border: 0;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    padding: 0.45em 1em;
    letter-spacing: -1px;
    cursor: pointer;
  }
  .mobileForm__section form.mobile__form .success {
    color: green;
  }
  .mobileForm__section form.mobile__form .error {
    color: red;
  }
}

@media only screen and (max-width: 425px) {
  .mobileForm__section form.mobile__form {
    width: 85%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 40px;
  }
  .mobileForm__section form.mobile__form label {
    font-size: 1em;
  }
  .mobileForm__section form.mobile__form label p {
    font-size: 0.85em;
    width: 180px;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: 0.25px;
  }
}

@media only screen and (max-width: 320px) {
  .mobileForm__section form.mobile__form label p {
    font-size: 0.75em;
    width: 100px;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: 0.25px;
  }
  .mobileForm__section form.mobile__form p.text__small {
    padding: 0 0 28px 0;
    line-height: 1.15;
    font-size: 0.75em;
  }
  .mobileForm__section form.mobile__form .form__submit-container .form__submit {
    font-size: 1.2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #747474;
  font-size: 100%;
  font-family: 'Lato', Helvetica, sans-serif;
}

/* Typography*/
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.text__bold {
  font-weight: bold;
}

.text__uppercase {
  text-transform: uppercase;
}

.text__underline {
  text-decoration: underline;
}

.text__small {
  font-size: 0.9em;
  padding: 8px;
  margin: 8px 0;
  line-height: 1.15;
  font-weight: 500;
}

.text__xlarge {
  font-size: 2rem;
  padding: 80px 0;
  margin: 0 auto;
  width: 65%;
  font-weight: 400;
  line-height: 1.2;
}

.hidden {
  display: none;
}

.App__header {
  background: #4385f5;
  text-align: center;
}

.App__header img {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 18px;
}

.mobileApp__main {
  display: none;
}

.App__main {
  background: url(../img/Chrome_02.jpg) no-repeat;
  background-size: cover;
  background-position: 0px 95%;
  display: block;
  height: 850px;
  width: 100%;
  clear: both;
}

.App__main #form__information {
  width: 35%;
  background: #fff;
  position: relative;
  top: 150px;
  left: 0;
  float: left;
}

.App__main #form__information h1 {
  padding: 56px;
  width: 700px;
  margin: 0 auto;
}

.App__main #form__information .chrome__logo-container {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.App__main #form__information .chrome__logo-container img {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.App__footer .container {
  background: #EFEFF0;
  padding: 40px 0 60px 0;
}

.App__footer .container p.text__xlarge {
  padding: 40px 0;
  font-weight: 400;
}

.App__footer .container .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 65%;
  margin: 0 auto;
  grid-gap: 2em;
}

.App__footer .container .grid p.text__large {
  padding: 8px 0 40px 0;
  font-size: 1.5rem;
  width: 75%;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
  color: #fff;
  line-height: 1.15;
}

.App__footer .container .grid .col-3 {
  padding: 1.5em 0;
}

.App__footer .container .grid .col-3:first-child {
  background: #4385f5;
}

.App__footer .container .grid .col-3:nth-child(2) {
  background: #F8BE35;
}

.App__footer .container .grid .col-3:last-child {
  background: #0FA85A;
}

@media only screen and (max-width: 1440px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.375rem;
  }
  .text__xlarge {
    font-size: 1.8em;
  }
  .App__main {
    height: 820px;
  }
  .App__main #form__information h1 {
    padding: 36px;
    width: 100%;
    margin: 0 auto;
  }
  .App__main #form__information .chrome__logo-container img {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  .App__footer .container .grid p.text__large {
    padding: 0;
    font-size: 1.5rem;
    width: 85%;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
    color: #fff;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 1210px) {
  h1 {
    font-size: 1.9em;
  }
  .text__xlarge {
    font-size: 1.55em;
    line-height: 1.5;
  }
  .App__main #form__information h1 {
    padding: 24px 30px;
  }
  .App__footer .container .grid p.text__large {
    padding: 2px;
    font-size: 1.3rem;
    width: 85%;
  }
}

@media only screen and (max-width: 1024px) {
  .text__xlarge {
    font-size: 1.45em;
    line-height: 1.5;
    padding: 60px 0;
  }
  .App__footer .container .grid .col-3 {
    padding: 0.5em 0;
  }
  .App__footer .container .grid p.text__large {
    padding: 10px;
    font-size: 1.25em;
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.275rem;
  }
  .App__header img {
    width: 150px;
  }
  .App__main {
    height: 810px;
  }
  .App__main #form__information h1 {
    padding: 30px 40px;
  }
  .App__main #form__information .chrome__logo-container {
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .App__footer .text__xlarge {
    font-size: 1.25em;
    width: 85%;
  }
  .App__footer .container .grid {
    width: 85%;
  }
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.375rem;
  }
  .App__header img {
    width: 210px;
  }
  .App__main {
    display: none;
  }
  .mobileApp__main {
    background: url(../img/mobile-splash.png) no-repeat;
    background-size: cover;
    display: block;
    height: 850px;
    width: 100%;
    clear: both;
    background-position-x: 0px;
    background-position-y: 0px;
  }
  .mobileApp__main #form__information {
    background: #fff;
    width: 85%;
    margin: 0 auto;
    padding: 4em;
    position: relative;
    top: 40%;
  }
  .mobileApp__main .chrome__logo-container {
    width: 50%;
    margin: 25px auto;
    text-align: center;
  }
  .mobileApp__main .chrome__logo-container img {
    width: 100%;
    padding: 1em 0;
    display: block;
  }
  footer.App__footer .text__xlarge {
    font-size: 1.8em;
    padding: 0px 0 80px 0;
  }
  footer.App__footer .container .grid {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    width: 65%;
    margin: 0 auto;
    grid-gap: 2em;
  }
  footer.App__footer .container .grid p.text__large {
    padding: 55px;
    font-size: 1.5rem;
    width: 100%;
  }
  footer.App__footer > div:last-child .text__xlarge {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.275rem;
  }
  .App__header img {
    width: 180px;
  }
  .mobileApp__main #form__information {
    top: 30%;
    padding: 3em;
  }
  .mobileApp__main #form__information .chrome__logo-container {
    width: 60%;
    margin: 25px auto;
    text-align: center;
  }
  footer.App__footer .text__xlarge {
    font-size: 1.6em;
    padding: 0px 0 80px 0;
  }
  footer.App__footer .container .grid {
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
  }
  footer.App__footer .container .grid p.text__large {
    padding: 35px;
    font-size: 1.3rem;
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1.8em;
  }
  .App__header img {
    width: 150px;
  }
  .mobileApp__main {
    background-position-x: 0px;
  }
  .mobileApp__main #form__information {
    padding: 2em;
  }
  .mobileApp__main #form__information .chrome__logo-container {
    width: 70%;
  }
  footer.App__footer .text__xlarge {
    font-size: 1.5em;
    padding: 0px 0 80px 0;
  }
  footer.App__footer .container .grid p.text__large {
    padding: 35px;
    font-size: 1.2rem;
    width: 100%;
  }
}
